<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1 th:text="'My recipes !!!!'">Index Page</h1>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">Description</td>
        <td th:text="${recipe.id}">ID</td>
    </tr>
    </tbody>
</table>

</body>
</html>